#include "../include/Resources.h"

ID ICON "cinder_app_icon.ico"

//RES_MY_RESOURCE
RES_HELVETICA_RND_LT_STD_BOLD
RES_HELVETICA_RND_LT_STD_BOLD_CN
RES_HELVETICA_RND_LT_STD_BOLD_O
RES_HELVETICA_RND_LT_STD_BOLD_CN_O
RES_HELVETICA_RND_LT_STD_BLACK
RES_HELVETICA_RND_LT_STD_BLACK_O
RES_BROADWAY_REGULAR